@model IEnumerable<Thread>
@{
    ViewBag.Title = ViewBag.Forum.Name;
    int count = ViewBag.Count;
    int pageCount = ViewBag.PageCount;
}
<div class="container">
    <div id="wp" class="wp">
        <div class="header-nav">
            <a class="header-nav-item" href="/forum">论坛</a>
            <span>»</span> 
            <span>@ViewBag.Forum.Name</span>
        </div>
        <div class="thread-list-header">
            <div class="thread-list-header-title">
                <img src="~/images/logo-small-wow.png" class="header-icon" />
                <span class="header-text">@ViewBag.Title</span>
            </div>
            <div class="thread-list">
                <table class="thread-table">
                    <colgroup>
                        <col style="width: 55%" />
                        <col style="width: 15%" />
                        <col style="width: 7%" />
                        <col style="width: 7%" />
                        <col style="width: 16%" />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>主题</th>
                            <th>作者</th>
                            <th>回复</th>
                            <th>查看</th>
                            <th class="table-right">最后回复时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr class="@(x.IsPinned ? "thread-pinned" : "")">
                                <td><i class="fa @(x.IsLocked ? "fa-lock" : "fa-file-o")"></i> <a asp-action="Post" asp-route-id="@x.Id">@x.Title</a></td>
                                <td>
                                    @if (!string.IsNullOrEmpty(x.CharacterNickname))
                                    {
                                        <span class="@(x.Role >= AccountLevel.Master ? "master-color" : "")">@x.CharacterNickname</span>
                                    }
                                    else
                                    {
                                        <span class="@(x.Role >= AccountLevel.Master ? "master-color" : "")">@x.AccountName</span>
                                    }
                                </td>
                                <td>0</td>
                                <td>@x.VisitCount</td>
                                <td class="table-right">@x.ReplyTime.ToString("yyyy-MM-dd HH:mm")</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="pagination-outer">
                    @Html.Pagination()
                </div>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="thread-post">
                <form method="post" action="/forum/post">
                    <h3>主题</h3>
                    <input type="text" class="post-textbox" name="title" />
                    <h3 style="margin-top: 15px;">内容</h3>
                    <textarea class="markdown-editor" name="content"></textarea>
                    <input type="hidden" name="forumid" value="@ViewBag.Forum.Id" />
                    <input type="submit" value="发表" style="margin-top: 15px;" class="large-button" />
                </form>
            </div>
        }
    </div>
</div>
