@{ 
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var y = controller;
    Character character = ViewBag.Character;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - 柚子魔兽</title>
    <link href="~/styles/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/styles/simplemde.css" rel="stylesheet" />
    <link href="~/styles/site.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/jquery.fileupload.js"></script>
    <script src="~/scripts/simplemde.js"></script>
</head>
<body id="nv_portal" class="pg_index">
    <div id="append_parent"></div><div id="ajaxwaitid"></div>

    <div id="nav-client-header" class="nav-client compact">
        <div id="nav-client-bar">

            <div class="grid-container nav-header-content">
                <ul class="nav-list nav-left" id="nav-client-main-menu">
                    <li>
                        <a class="nav-item nav-home" href="/"><img class="nav-logo" src="~/images/logo.png" /></a>
                    </li>
                    <li>
                        <div class="dropdown games">
                            <a href="/" data-toggle="dropdown" class="nav-link active">柚子魔兽</a>
                        </div>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-notification-responsive-container">
            <div class="nav-notification-dropdown dropdown-menu">
                <div class="arrow top"></div>
            </div>
        </div>
    </div>

    <div id="wrapper">
        <div id="header">

            <div class="search-bar">
                <form id="scbar_form" method="post" autocomplete="off" action="search.php?searchsubmit=yes" target="_blank">
                    <div>
                        <input type="text" name="srchtxt" class="search-field input" onfocus="if (value =='请输入搜索内容'){value =''}" onblur="if (value ==''){value='请输入搜索内容'}" value="请输入搜索内容" autocomplete="off" x-webkit-speech=x-webkit-speech speech=speech />
                        <button type="submit" name="searchsubmit" sc="1" class="search-button" value="true">搜索</button>
                    </div>
                </form>
            </div>

            <h1 id="logo"><a href="/" title="魔兽怀旧|魔兽世界怀旧服"><img src="template/mssj/images/logo.png" alt="魔兽怀旧|魔兽世界怀旧服" border="0" /></a></h1>
            <div class="header-plate">
                <ul class="menu" id="menu">
                    <li class="menu-home"><a href="/" class="@(controller  == "home" ? "menu-active" : "")"><span>首页</span></a></li>
                    <li class="menu-game"> <a href="/account" class="@(controller  == "account" ? "menu-active" : "")"> <span>账号</span> </a> </li>
                    <li class="menu-community"> <a href="/guild" class="@(controller  == "guild" ? "menu-active" : "")"> <span>公会</span> </a> </li>
                    <li class="menu-media"> <a href="/download" class="@(controller  == "download" ? "menu-active" : "")"> <span>下载</span> </a> </li>
                    <li class="menu-forums"> <a href="/forum" class="@(controller  == "forum" ? "menu-active" : "")"> <span>论坛</span> </a> </li>
                    <li class="menu-services"> <a href="#" class="@(controller  == "about" ? "menu-active" : "")"> <span>关于</span> </a> </li>
                </ul>
                <div class="user-plate">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="card-character plate-logged-out" asp-action="Index" asp-controller="Account">
                            <span class="card-portrait"></span>
                            <span class="wow-login-key"></span>
                            <span class="login-msg"><strong>登录</strong>您的柚子账号，管理您的角色、公会与账号。</span>
                        </a>
                    }
                    else if (character == null)
                    {
                        <a class="card-character plate-logged-out" asp-action="Index" asp-controller="Account">
                            <span class="card-portrait"><img src="/account/@ViewBag.Account.Id/avatar" /></span>
                            <span class="login-msg"><strong>@User.Identity.Name</strong>，创建角色后可参与论坛交流等操作。</span>
                        </a>
                    }
                    else
                    {
                        <a class="card-character plate-logged-out @Html.GetFactionClassName(character.Faction)" asp-action="Index" asp-controller="Account">
                            <span class="card-portrait"><img src="/account/@ViewBag.Account.Id/avatar" /></span>
                            <div class="login-msg">
                                <div class="login-character-name"><strong>@character.Name</strong></div>
                                <div class="login-character-info">@(character.Level)级 @Html.GetRaceName(character.Race) <span style="color:@Html.ColorizeClass(character.Class)">@Html.GetClassName(character.Class)</span></div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="footer">
        <a href="https://www.blizzard.com/en-us/games/" target="_blank"><img src="~/images/blizzard.png" /></a>
        <a href="https://cmangos.net/" target="_blank"><img src="~/images/cmangos.png" /></a>
        <a href="https://github.com/pomelomangos" target="_blank"><img src="~/images/pomelo.png" /></a>
        <span>© Copyright 2019 WoWTBC</span>
    </div>
</body>
</html>
