@model StoneMenu
@{
    ViewBag.Title = "宝石菜单设置 - 系统管理";
    Character character = ViewBag.Character;
}
<script src="~/scripts/vue.min.js"></script>
<div class="container">
    <div id="wp" class="wp">
        <div class="main">
            <div class="left2">
                <div class="account-main">
                    <div class="account-title">@Model.MenuItemText - 宝石菜单设置</div>
                    <div>设置菜单项标题及其功能</div>
                    <div id="app">
                        <h3 style="margin-top: 15px;">基本信息</h3>
                        <table class="grid-table">
                            <colgroup>
                                <col />
                                <col />
                                <col />
                            </colgroup>
                            <tr>
                                <td>
                                    <label>
                                        名称
                                        <input type="text" v-model="model.menuItemText" autocomplete="off" class="parameter-textbox">
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        图标
                                        <select class="parameter-textbox" v-model="model.icon">
                                            <option v-for="x,y in icons" :value="y">{{ x }}</option>
                                        </select>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        功能
                                        <select class="parameter-textbox" v-model="model.function">
                                            <option v-for="x,y in functions" :value="y">{{ x }}</option>
                                        </select>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        阵营顺序
                                        <select class="parameter-textbox" v-model="model.factionOrder">
                                            <option v-for="x,y in factions" :value="y">{{ x }}</option>
                                        </select>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        菜单ID
                                        <input type="text" v-model="model.menuId" autocomplete="off" class="parameter-textbox">
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        动作ID
                                        <input type="text" v-model="model.actionId" autocomplete="off" class="parameter-textbox">
                                    </label>
                                </td>
                            </tr>
                        </table>

                        <div v-if="model.function == 0">
                            <h3 style="margin-top: 15px;">打开菜单设置</h3>
                            <table class="grid-table">
                                <colgroup>
                                    <col />
                                    <col />
                                    <col />
                                </colgroup>
                                <tr>
                                    <td>
                                        <label>
                                            被打开菜单ID
                                            <input type="text" v-model="model.triggerMenu" autocomplete="off" class="parameter-textbox">
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div v-if="model.function == 2">
                            <h3 style="margin-top: 15px;">商人购买设置</h3>
                            <table class="grid-table">
                                <colgroup>
                                    <col />
                                    <col />
                                    <col />
                                </colgroup>
                                <tr>
                                    <td>
                                        <label>
                                            商人NPC ID
                                            <input type="text" v-model="model.triggerMenu" autocomplete="off" class="parameter-textbox">
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div v-if="model.function == 8">
                            <h3 style="margin-top: 15px;">训练师设置</h3>
                            <table class="grid-table">
                                <colgroup>
                                    <col />
                                    <col />
                                    <col />
                                </colgroup>
                                <tr>
                                    <td>
                                        <label>
                                            训练师NPC ID
                                            <input type="text" v-model="model.triggerMenu" autocomplete="off" class="parameter-textbox">
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div v-if="model.function == 1">
                            <h3 style="margin-top: 15px;">传送设置</h3>
                            <table class="grid-table">
                                <colgroup>
                                    <col />
                                    <col />
                                    <col />
                                </colgroup>
                                <tr>
                                    <td>
                                        <label>
                                            坐标X
                                            <input type="text" v-model="model.teleportX" autocomplete="off" class="parameter-textbox">
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            坐标Y
                                            <input type="text" v-model="model.teleportY" autocomplete="off" class="parameter-textbox">
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            坐标Z
                                            <input type="text" v-model="model.teleportZ" autocomplete="off" class="parameter-textbox">
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>
                                            地图ID
                                            <input type="text" v-model="model.teleportMap" autocomplete="off" class="parameter-textbox">
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div v-if="cost_functions.some(x => x == model.function)">
                            <h3 style="margin-top: 15px;">花费设置</h3>
                            <table class="grid-table">
                                <colgroup>
                                    <col />
                                    <col />
                                    <col />
                                </colgroup>
                                <tr>
                                    <td>
                                        <label>
                                            花费类型
                                            <select class="parameter-textbox" v-model="model.costType">
                                                <option v-for="x,y in cost_types" :value="y">{{ x }}</option>
                                            </select>
                                        </label>
                                    </td>
                                    <td v-if="model.costType === 2">
                                        <label>
                                            自定义货币
                                            <select class="parameter-textbox" v-model="model.costCurrencyId">
                                                <option v-for="x in currencies" :value="x.id">{{ x.name }}</option>
                                            </select>
                                        </label>
                                    </td>
                                    <td v-if="model.costType > 0">
                                        <label>
                                            花费数量
                                            <input type="text" v-model="model.costAmount" autocomplete="off" class="parameter-textbox">
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div v-if="usage_limited_functions.some(x => x == model.function)">
                            <h3 style="margin-top: 15px;">功能使用限制</h3>
                            <table class="grid-table">
                                <colgroup>
                                    <col />
                                    <col />
                                    <col />
                                </colgroup>
                                <tr>
                                    <td>
                                        <label>
                                            用户权限
                                            <select class="parameter-textbox" v-model="model.permissionRequired">
                                                <option v-for="x,y in permissions" :value="y">{{ x }}</option>
                                            </select>
                                        </label>
                                    </td>
                                    <td v-if="!no_level_limited_functions.some(x => x == model.function)">
                                        <label>
                                            角色等级
                                            <input type="text" v-model="model.levelRequired" autocomplete="off" class="parameter-textbox">
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <a class="large-button medium" v-on:click="save()">保存</a>
                        <a class="large-button medium" asp-action="Stone" asp-route-id="@Model.MenuId">返回</a>
                        <form id="form-save-stone-menu" asp-action="EditStone" asp-route-id="@Model.Id" method="post">
                            <input type="hidden" name="body" id="hid-body" />
                        </form>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("_AccountNav")
            <div class="clear"></div>
        </div>
    </div>
</div>

<script>
    window.app = new Vue({
        el: '#app',
        data: {
            model: @Json.Serialize(Model),
            functions: @Json.Serialize(StoneMenu.FunctionText),
            icons: ["气泡", "棕色袋子", "飞行点", "书", "齿轮1", "齿轮2", "棕色袋子带黄色点", "公会徽章", "两把交叉剑", "黄点"],
            factions: ["中立", "联盟", "部落"],
            cost_functions: [1],
            usage_limited_functions: [1, 6, 7, 8, 9],
            no_level_limited_functions:[6, 7],
            cost_types: ["免费", "金钱", "自定义货币"],
            permissions: ["普通玩家", "高级玩家", "游戏管理员", "超级管理员"],
            currencies: @Json.Serialize(ViewBag.Currencies),
        },
        watch: {
            deep: true
        },
        computed: {
        },
        methods: {
            save: function () {
                $('#hid-body').val(JSON.stringify(this.model));
                $('#form-save-stone-menu').submit();
            }
        }
    });
</script>