@model About
@{ 
    ViewBag.Title = "创建帮助";
}
<div class="container">
    <div id="wp" class="wp">
        <div class="main">
            <div class="left2">
                <div class="account-main">
                    <div class="account-title" style="margin-bottom: 15px;">@ViewBag.Title</div>
                    <div class="news-item-content">
                        <form method="post" action="/about/edit/@Model.Id">
                            <h3>标题</h3>
                            <input type="text" class="post-textbox" asp-for="Title" />
                            <h3>分组</h3>
                            <input type="text" class="post-textbox" asp-for="Group" />
                            <h3>优先级</h3>
                            <input type="text" class="post-textbox" asp-for="Priority" />
                            <h3 style="margin-top: 15px;">内容</h3>
                            <textarea class="markdown-editor" asp-for="Content"></textarea>
                            <input type="submit" value="修改" style="margin-top: 15px;" class="large-button" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="right2">
                @foreach (var x in ((List<About>)ViewBag.AboutItems).GroupBy(x => x.Group))
                {
                <h3 class="sidebar-menu-title first">@x.Key</h3>
                    foreach (var y in x)
                    {
                        <a asp-route-id="@y.Id" class="sidebar-menu-item @(Model.Id == y.Id ? "active" : "")"><i class="fa fa-diamond"></i> @y.Title</a>
                    }
                }
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>