@model About
@{ 
    ViewBag.Title = Model.Title + " - 关于";
    Character character = ViewBag.Character;
}
<div class="container">
    <div id="wp" class="wp">
        <div class="main">
            <div class="left2">
                <div class="account-main">
                    <div class="account-title" style="margin-bottom: 15px;">@Model.Title</div>
                    <div class="news-item-content">
                        @Html.Marked(Model.Content)
                    </div>
                </div>
            </div>
            <div class="right2">
                @foreach (var x in ((List<About>)ViewBag.AboutItems).GroupBy(x => x.Group))
                {
                    <h3 class="sidebar-menu-title first">@x.Key</h3>
                    foreach (var y in x)
                    {
                        <a asp-route-id="@y.Id" class="sidebar-menu-item @(Model.Id == y.Id ? "active" : "")"><i class="fa fa-diamond"></i> @y.Title</a>
                    }
                }
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>